.HeroContainer {
    margin: auto;
    margin-top: 4rem;
    max-width: 1200px;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 40rem;
}